
<!doctype html>
<html lang="zxx">
<%- include('../partial/head.ejs')%>

<body>
    <%- include('../partial/navbar.ejs')%>

        <%- body%>

  
    <%- include('../partial/footer.ejs')%>
    <%- include('../partial/script.ejs')%>
</body>

</html>